{% extends "base.html" %}

{% block figures %}
<div class="text-center mx-auto main-div main-figures">
    <div class="figure">
        <small>Total Value</small>
        <div class="d-flex align-items-center">
            <h2>${{ portfolio.total_value }}</h2>
            <p
                class="percent {% if portfolio.total_profit_percentage >= 0 %}positive{% else %}negative{% endif %}-percent">
                {{ portfolio.total_profit_percentage }}%</p>
        </div>
    </div>
    <div class="figure">
        <small>Unrealized PNL</small>
        <div class="d-flex align-items-center">
            <h2 class="{% if portfolio.total_profit >= 0 %}positive{% else %}negative{% endif %}-pnl">${{
                portfolio.total_profit }}</h2>

        </div>
    </div>
    <div class="figure">
        <small>Stablecoins</small>
        <div class="d-flex align-items-center">
            <h2>$240</h2>
        </div>
    </div>

</div>

{% endblock %}

{% block chart %}
<div class="chart">
    {{ chart | safe }}
</div>

{% endblock %}


{% block holdings %}
<div class="main-div text-center mx-auto">
    <h4 class="text-center mb-3"><i class="bi bi-bank"></i> Holdings</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Token</th>
                <th scope="col">Balance</th>
                <th scope="col">Cost</th>
                <th scope="col">Market Value</th>
                <th scope="col">ROI</th>
            </tr>
        </thead>
        <tbody>
            {% for token in holdings %}
            <tr>
                <td>{{token.token}}</td>
                <td>{{token.qty}}</td>
                <td>{{token.cost}}</td>
                <td>{{token.value}}</td>
                <td>{{token.profit_percentage}}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mobile-holdings">
        <div class="d-flex justify-content-between">
            <p><b>Asset</b></p>
            <p><b>Balance</b></p>
            <p><b>Value</b></p>
            <p><b>ROI</b></p>
        </div>
        {% for token in tokens %}
        <div class="d-flex justify-content-between">
            <p><b>{{token.token}}</b></p>
            <p>{{token.qty}}</p>
            <p>{{token.value}}</p>
            <p>{{token.profit_percentage}}%</p>
        </div>
        {% endfor %}


    </div>
</div>




{% endblock %}